.login-container {
    margin: 0 auto;
    max-width: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}

.logo-box {
    display: flex;
    padding: 20px;
    font-family: 'Boom', sans-serif;
    font-weight: 900;
    font-size: calc(50px + 3.5vw);
    text-align: center;
    justify-content: center;
    background: linear-gradient(
            to right,
            rgb(220, 153, 233) 20%,
            rgb(217, 82, 244) 30%,
            rgb(185, 93, 204) 70%,
            rgb(229, 126, 250) 80%
        );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate; 
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.login-box {
    display: flex;
    flex-direction: column;
    width: calc(200px + 15vw);
    min-width: 200px;
    max-width: 1000px;
    padding: 20px;

}

.login-input {
    box-sizing: border-box;
    padding: 0px 0px 0px 16px;
    margin: 0px 0px 10px 0px;
    

    background-color: white;
    color: black;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;

    height: 50px;
    width: 100%;
}
.login-input:focus {
    border: 1px solid rgb(208, 51, 31);
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}
.login-button {
    background: rgb(229, 126, 250);
    border-radius: 77px;
    border-style: none;
    border-color: black;
    border-width: 2px;
    padding: 10px 6px;


    color: rgb(22, 6, 45);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    align-self: flex-end;

    height: 54px;
    width: 100%;
}